repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff
        args: ["--fix"]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        args: ["--config-file", "mypy.ini"]
        additional_dependencies:
          - types-PyYAML
          - types-requests
          - types-paramiko

  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort
        args: ["--profile", "black"]

  - repo: https://github.com/jsh9/pydoclint
    rev: 0.7.6
    hooks:
      - id: pydoclint
        args:
          - "--style=sphinx"
          - "--arg-type-hints-in-docstring=False"
          - "--check-return-types=False"
          - "--skip-checking-short-docstrings=False"
          - "--require-return-section-when-returning-nothing=True"
          - "--skip-checking-raises=False"